{% extends 'healthnet/base.html' %}
{% block content %}
    <div class="col-lg-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="modal-title">Medication: {{ prescription.medication }}</h4>
            </div>

            <!-- Prescription Details -->
            <div class="panel-body">
                <p>
                    <br/>
                    Description: {{ prescription.description }}
                    <br/>
                    Quantity: {{ prescription.quantity }}
                    <br/>
                    Dosage: {{ prescription.dosage }}
                </p>
            </div>

{% endblock %}